unstructured[all-docs]
langchain>=0.2.0,<0.3
langchain-openai==0.1.19
langchain-community>=0.2.0,<0.3
langsmith>=0.1.63,<0.2
tiktoken>=0.7.0,<1.0.0
openai==1.37.1
tenacity
PyMuPDF
pymupdf4llm
Pillow
openpyxl
nltk==3.9.1
# dev environment
setuptools~=70.0.0
twine>=4.0,<5.0
sphinx>=5.3,<6.0
sphinx-rtd-theme>=1.1,<2.0