openai>=1.99.0,<3.0
anthropic[bedrock]~=0.83.0
tiktoken
langsmith>=0.3.43,<1.0.0
tenacity
Pillow
jsonschema
colab-or-not~=0.4.0
json_repair==0.*
# optional docs dependencies
unstructured[all-docs]
PyMuPDF>=1.25.1
pymupdf4llm
openpyxl
nltk==3.9.1
beautifulsoup4>=4.12.0
markdown>=3.5.0
docling>=2.8.1,<3.0
# dev environment
build
twine>=6.0,<7.0
sphinx>=8.0,<9.0
sphinx-rtd-theme>=3.0,<4.0
